<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Website Project Rubric</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <style>
        
    </style>
</head>

<body>
    <header>
        <h1>The History of the Internet</h1>
    </header>

    <table>
        <thead>
            <tr>
                <th>Category</th>
                <th>Meeting Expectation</th>
                <th>Close to Meeting</th>
                <th>Not at All</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td rowspan="4">1. Content and Knowledge (40 points)</td>
                <td>History of the Internet (10 points)</td>
                <td>Accurate description of the Internet, its creation, development, and governance.</td>
                <td></td>
            </tr>
            <tr>
                <td>Web Basics (10 points)</td>
                <td>Clear understanding and demonstration of terms like Server, Web Browser, WWW, URL, IP, Domain Name, and Protocol. Correct identification of different parts of a URL.</td>
                <td></td>
            </tr>
            <tr>
                <td>HTML Knowledge (10 points)</td>
                <td>Proper use and structure of HTML including document type declaration, visibility, tags, basic page structure, headings, links, images, tables, lists, and use of classes and ids.</td>
                <td></td>
            </tr>
            <tr>
                <td>CSS Proficiency (10 points)</td>
                <td>Effective use of CSS for styling, understanding of specificity rule, selector types, box model, image filters, and animations</td>
                <td></td>
            </tr>
            <tr>
                <td rowspan="2">2. Technical Skills (30 points)</td>
                <td>Code Quality and Validation (15 points)</td>
                <td>Clean, well-organized code with proper syntax. Use of validation tools to ensure code accuracy.</td>
                <td></td>
            </tr>
            <tr>
                <td>Responsive Design and Accessibility (15 points)</td>
                <td>Website should be responsive to different screen sizes. Images and links should be accessible, following guidelines for screen readers and ergonomic design.</td>
                <td></td>
            </tr>
            <tr>
                <td rowspan="2">3. Creativity and Aesthetics (20 points)</td>
                <td>Visual Appeal (10 points)</td>
                <td>Attractive layout, color scheme, and font choices.</td>
                <td></td>
            </tr>
            <tr>
                <td>Innovative Design (10 points)</td>
                <td>Creative use of elements and features that enhance user experience.</td>
                <td></td>
            </tr>
            <tr>
                <td rowspan="2">4. Ethics and Safety (10 points)</td>
                <td>Adherence to Ethical Standards (5 points)</td>
                <td>Avoidance of dark patterns and unethical practices.</td>
                <td></td>
            </tr>
            <tr>
                <td>Safety and Copyright (5 points)</td>
                <td>Compliance with copyright laws, fair use, and public domain rules.</td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <p>Total: 100 Points</p>
    <footer>
        <a href="index.html" class="InternetUsageButton">back</a>
    </footer>
</body>

</html>
